h1{
text-align: center;

}
.form{
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(173, 216, 230,0.5);
  background-color: rgb(173, 216, 230);


}
body{
  background-color: lightcoral;
}